body {
    background-color: rgba(210, 211, 211, 0.814);
    color: black;
    font-family: Arial;
    margin: 0px;
    background-size: 100%;
}


header {
    background-image: linear-gradient(to right, rgba(244, 114, 38, 0.872), white, rgb(18, 18, 223));
    color: rgb(0, 41, 189);
    padding: 15px;
    font-size: 25px;
    font-family: Arial;
    text-align: center;
    font-style: italic;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0px;
    z-index: 2;
}

main {
    margin: 270px 20px;
}

div {
    margin-top: 10px;
}

a {
    color: rgb(16, 10, 201);
    text-decoration: none;   
    text-shadow: 3px 3px 3px gray;
    font-weight: bold;
    margin-right: 30px;
    font-size: 30px;
}

a:hover {
    color: rgb(239, 83, 27);
    font-size: 33px;
}

a:active {
    color: rgb(239, 83, 27);
    font-size: 28px;
}

.logo {
    left: 1px;
    width: 200px;
    height: auto;
    display: block;
}

.current {
    display: inline-block;
}
